<% provide(:title, '出勤中社員一覧') %>

<h1>出勤中社員一覧</h1>
<div class="row"><!-- 横並びにしたいコンテンツがある時使用 -->
  <div class= "col col-md-12">
    <table class= "table table-bordered">
      <thead>
        <tr>
          <th>社員番号</th>
          <th>名前</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <% user.attendances.where(worked_on: Date.current). each do |day| %>
            <% if day.started_at.present? && day.finished_at.blank? %>
              <tr>
                <td><%= user.employee_number %></td>
                <td><%= user.name %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div> 
</div>


