// Place all the styles related to the Attendances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 勤怠情報テーブル */

#table-attendances, #table {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}
  
.supeior-notice {
  color: red;
}

#select {
  display: block;
}

.btn-attendance {
  margin-bottom: 4px;
}



/*基本モーダルウィンドウ*/

.btn-text {
  margin: 15px 0;
  width: 30%;
}

#table th {
  text-align: center;
  vertical-align: middle;
}


/* 勤怠画面 */

.btn-superior {
  text-decoration: none;
  color: red;
}


/* 申請情報の通知お知らせ　*/
.superior__btn {
  color: red;
}



