// Place all the styles related to the Attendances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.supeior-notice {
  color: red;
}

#select {
  display: block;
}

.btn-attendance {
  margin-bottom: 4px;
}

/*　残業申請モーダルウィンドウ　*/

/* 申請情報の通知お知らせ　*/
.superior__btn {
  color: red;
  margin: 5px;
}



