@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin: 10px 0;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  padding: 20px 0;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}



/* error_messages */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* 検索フォーム */

.col-lg-4 {
  float: right;
}

.input-group {
  width: 250px;
  display: flex;  /*通常縦並びになる要素ですが、親要素をdisplay:flexを
                  設定して(フレックスコンテナにして)、子要素を横並びにすることができます。*/
}

#search {
  border-radius: 5px;
}

/*勤怠画面*/ 

.wday0 {
  color: red;
}

.wday6 {
  color: blue;
}

li {
  display: block;
} 

.link {
  color: black ; 
}


.btn-set {
  width: fit-content;
  gap: 1em; 
}

/* モーダルウインドウの位置調整 */

.modal-dialog-center {
  padding-top: 10%;
}
