/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* ユーザー情報下ボタン */

.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
}


/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
  vertical-align: middle;
  }
}

.csv-botton {
  width: 22%;
  margin-bottom: 20px;
}

.btn-secondary {
  margin-bottom: 10px;
}

.input-group-btn {
  width: 90%;
}

/* 基本情報編集 */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

/*基本モーダルウィンドウ*/

.label-basic-info {
  margin-top:5px;
}

/* 勤怠画面 */

.btn-superior {
  color: red;
}