/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* ユーザー情報下ボタン */

.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
}


/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
  vertical-align: middle;
  }
}

.csv-botton {
  width: 22%;
  margin-bottom: 20px;
}

.btn-secondary {
  margin-bottom: 10px;
}

.input-group-btn {
  width: 90%;
}

.form-control {
  margin-bottom: 10px;
}

/* 検索フォーム */

.col-lg-3 {
  float: right;
}

.input-group {
  width: 250px;
  display: flex;  /*通常縦並びになる要素ですが、親要素をdisplay:flexを
                  設定して(フレックスコンテナにして)、子要素を横並びにすることができます。*/
}

#search {
  border-radius: 5px;
}
/* 基本情報編集 */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}
